@media (orientation: landscape) {
    body {
      background:white;
    }
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family:Arial;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc {
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    background-color:lightgrey;
}
input {
    grid-column: span 4;
    height: 68px;
    width: 240px;
    border-radius: 15px;
    text-align: end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;
}
button {
    border-radius: 20px;
    width: 50px;
    height: 50px;    
    margin:10px;
    font-weight: bold;
    font-size: 20px;

}
.equal {
    width: 110px;
    border-radius: 20px;
    background-color: green;
}
.math_oper {
    background-color: orange;
}
.num {
    background-color: gray;
}
.clear {
    background-color: red;
}

#inputtext:focus{
    background-color:aqua;
}
.delete::first-letter {
    font-size: 20px;
}
div > .delete{
    background-color: yellow;
}